/*variables*/
/*estilos generales*/
* {
  background-color: black;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url(../imagenes/bg4.jpg);
}

body {
  background-color: black;
  border: 1px solid rgb(211, 58, 211);
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  padding: 10px;
  background-image: url("../imagenes/bgimage.jpg");
  background-size: cover;
}

.titulo {
  background-color: rgb(211, 58, 211);
}

/*index*/
.parrafos {
  display: flex;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.parrafos .parrafo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: gray;
}
.parrafos .parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: gray;
}

.imagen1 {
  height: 27%;
  width: 27%;
  margin-left: 220px;
  display: inline-block;
  border-radius: 5px;
}

.imagen2 {
  height: 50%;
  width: 50%;
  border-radius: 5px;
  margin-left: 220px;
  display: inline-block;
}

.imagen1:hover, .imagen2:hover {
  opacity: 0.8;
}

a {
  background-color: lightgray;
  color: black;
  border: 1px solid rgb(211, 58, 211);
  border-radius: 5px;
}
a:hover {
  background-color: rgba(203, 194, 194, 0.749);
  font-size: 22px;
}

.d-flex {
  margin-left: 110px;
}

.parrafo3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  background-color: gray;
  color: black;
  margin-top: 5px;
}

.parrafoimg {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  background-color: gray;
  margin-top: 5px;
}

.icono {
  justify-content: center;
  width: 30px;
  height: 30px;
}

.icono:hover {
 background-color: gray;
 }

.grid-container {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 40px 10px;
}

.video {
  display: inline-block;
}

.col-md-4, .col-md-6, .col-md-3, .col-12 {
  color: black;
}

/*Quienes somos */
section .quienes {
  padding-left: 10px;
  display: inline;
}

.quienes {
  display: inline;
  width: 22%;
  height: 22%;
}

.parrafo4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  color: black;
  background-color: gray;
}

.video {
  position: relative;
  text-align: center;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

img.quienes:hover {
  opacity: 0.5;
}

.btnbtn-primary {
  color: black;
}

.parrafoimg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: black;
}

section.cards {
  display: inline-block;
  color: black;
}

.video1 {
  text-align: center;
}

/* Legal */
.legal {
  text-align: center;
  color: rgb(211, 58, 211);
}

.termino {
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.termino p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  margin: 30px;
  color: black;
  background-color: gray;
}

.btn {
  padding: 20px;
  text-align: center;
}

.btn-button {
  text-align: center;
}

h3 {
  color: black;
  text-align: left;
}

.col {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: underline;
  background-color: gray;
  color: black;
}/*# sourceMappingURL=style.css.map */